{% extends "layout_clean.html" %}
{% import "macros/user.html" as user %}

{% block content %}
<div class="company-structure">
    <div class="frame">
        <h3 class="title">Структура компании</h3>
    </div>
    <div class="structure drag-scroll">
        <ul class="level-0">
        {% for dep in departments.get(None, []) recursive %}
            <li>
                <div class="lines"></div>
                <div class="department frame">
                    <div class="title">{{ dep.name or '' }}</div>
                    {% if dep.user %}
                    <div class="user">
                        {{ user.icon(dep.user) }}
                        <a href="{{ url_for("user.profile", user_id=dep.user.id) }}" title="{{ dep.user.full_name }}">{{ dep.user.full_name }}</a>
                        <span class="position">Должность</span>
                    </div>
                    {% endif %}
                    {% if  dep.users|length %}
                    <div class="workers">
                        <div class="workers-toggle">
                            <a href="#" class="show-link">Сотрудники ({{ dep.users|length }})</a>
                            <a href="#" class="hide-link">Скрыть сотрудников</a>
                        </div>
                        {% for u in dep.users %}
                        <div class="user">
                            {{ user.icon(u) }}
                            <a href="{{ url_for("user.profile", user_id=u.id) }}" title="{{ u.full_name }}">{{ u.full_name }}</a>
                            <span class="position">Должность</span>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <ul class="level-{{ loop.depth }}">{{ loop(departments.get(dep.id, [])) }}</ul>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}