# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
log/
files/
migrations/versions/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
venv/
tmp/
.idea/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/


git branch
git show-branch --all
git checkout c_struct



select
  tmp.maker maker,
  tmp.type type
from
(select
  tmp.maker maker,
  prod.type type
from
  (select
    maker,
    count(DISTINCT type) count_type
  from
  (
    select
      tmp.maker maker,
      prod.type type
    from (
      select
        maker,
        count(model) c_m
      from Product
      group by maker
      having count(model) > 1
    ) tmp
    join Product prod on prod.maker = tmp.maker
  ) tmp
  group by maker
  having count(DISTINCT type) = 1
  ) tmp
  join Product prod on prod.maker = tmp.maker) tmp
--limit 1




--Select * from Product
--Select maker, count(DISTINCT type) from Product GROUP BY maker
