@import 'mixins'
.community-form
  .title
    margin: 0 -35px
    border-bottom: 1px solid #EEEEEE
    margin-bottom: 10px
    .switch
      position: absolute
      top: 15px
      right: 15px
      input
        display: none
      input:checked+label
        background: #e7422c
        color: white
        border-color: transparent
        &:before
          content: 'Закрытая'
      label
        -border-radius 5px
        padding: 5px 10px
        color: #aaa
        cursor: pointer
        font-size: 14px
        font-weight: normal
        margin: 0
        border: 1px dashed #ccc
        &:before
          content: 'Открытая'


  .name-wrapper
    padding-top: 2px
    padding-left: 80px
    height: 70px
  .image-loader
    position: absolute
    width: 70px
    height: 70px
.communities
  .title
    text-align: left
    padding-right: 150px
  a.community-create
    position: absolute
    text-align: center
    top: 9px
    right: 10px
  .communities-list
    float: left
    padding: 0px
    margin: 5px -5px
    width: 100%
.community
  padding: 10px
  position: relative
  white-space: nowrap
  cursor: pointer
  margin: 5px -10px
  .closed
    position: absolute
    top: 10px
    right: 15px
    color: #999
    font-size: 2em
  .image, .info
    display: inline-block
    vertical-align: top
    white-space: normal
  .name
    font-size: 1.3em
    width: 100%
  .info
    padding: 0px 10px
    margin-right: 65px
  .description, .members
    line-height: 1.3em
  .description
    height: 47px
    overflow: hidden
    text-overflow: ellipsis
    margin-right: 20px
  .members
    color: #999999
  .image
    background-size: cover
    background-position: center center
    width: 90px
    height: 90px
    -border-radius 5px
    overflow: hidden
    background-image: url('/static/img/community.png')
.community-page .community
  padding: 5px
  cursor: default
  margin: 0px
  margin-bottom: 10px
  .closed
    font-size: 1.5em;
  .name
    color: #fd8a16
  .image
    width: 50px
    height: 50px
  .description
    height: auto