@import 'mixins'
.community-page
  .message
    text-align: center
    font-size: 2em
    color: #999
.community-form
  .title
    margin: 0 -35px
    border-bottom: 1px solid #EEEEEE
    margin-bottom: 10px
    .switch
      position: absolute
      top: 15px
      right: 15px
      input
        display: none
      input:checked+label
        background: #e7422c
        color: white
        border-color: transparent
        &:before
          content: 'Закрытая'
      label
        -border-radius 5px
        padding: 5px 10px
        color: #aaa
        cursor: pointer
        font-size: 14px
        font-weight: normal
        margin: 0
        border: 1px dashed #ccc
        &:before
          content: 'Открытая'


  .name-wrapper
    padding-top: 2px
    padding-left: 80px
    height: 70px
  .image-loader
    position: absolute
    width: 70px
    height: 70px
.communities
  .frame.header
    position: relative
  .title
    text-align: left
    padding-right: 150px
  a.community-create
    position: absolute
    text-align: center
    top: 9px
    right: 10px
  .communities-list
    float: left
    padding: 0px
    padding-top: 10px
    width: 100%
  .community .info
    width: 100%
    padding-left: 110px
    position: absolute
    top: 10px
    left: 0px
    cursor: pointer
.community
  padding: 10px
  position: relative
  white-space: nowrap
  margin: 5px 0px
  &:hover .edit-buttons
    display: block
  .bottom-buttons
    position: absolute
    bottom: 10px
    right: 15px
    div.closed
      display: inline-block
      color: #999
      font-size: 2em
      vertical-align: middle
      margin-left: 10px
  .top-buttons
    position: absolute
    top: 10px
    right: 10px
    .edit-buttons
      padding: 0
    button
      padding: 7px 10px 5px
      margin-left: 10px
      vertical-align: middle
      -border-radius(3px)
      border: 0 none
      background: transparent
      color: #337ab7
      &.community-join:hover
        background: #779dca
        color: white
      &.community-leave:hover
        background: #FF6961
        color: white

  .image, .info
    display: inline-block
    vertical-align: top
    white-space: normal
  .name
    font-size: 1.3em
    width: 100%
  .info
    padding: 0px 10px
    margin-right: 65px
  .description, .members
    line-height: 1.3em
  .description
    height: 47px
    overflow: hidden
    text-overflow: ellipsis
    margin-right: 20px
  .members
    color: #999999
  .image
    background-size: cover
    background-position: center center
    width: 90px
    height: 90px
    -border-radius 5px
    overflow: hidden
    background-image: url('/static/img/community.png')
.community-header .community
  padding: 5px
  cursor: default
  margin: 0px
  margin-bottom: 15px
  a.post-create
    position: absolute
    text-align: center
    top: 9px
    right: 10px
  .closed
    font-size: 1em;
    color: #999
  .image
    width: 47px
    height: 47px
  .description
    height: auto