@import 'mixins'

input, textarea
  display: inline-block !important
/*input, textarea*/
  /*background: #FFFFFF*/
  /*border: 1px solid #EEEEEE*/
  /*border-bottom-color: #cccccc*/
  /*-border-radius(3px)*/
  /*margin: 0*/
  /*margin-bottom: 2px*/
  /*outline: none*/
  /*width: 250px*/
  /*color: #333;*/
  /*padding: 10px*/
  /*&:focus*/
    /*border-color: #F38630*/

/*input[type=button],*/
/*input[type=submit]*/
  /*background: #FA6900*/
  /*color: white*/
  /*text-transform: uppercase*/
  /*border: 0 none*/
  /*width: auto*/
  /*&:hover*/
    /*background: #F38630*/

.error-wrapper {
  display: inline-block;
  width: 0;
  vertical-align: top;
  position: relative;
  pointer-events: none;
}
.error-wrapper .error {
  font-size: 0.9em;
  position: absolute;
  white-space: nowrap;
  top: 0;
  right: 0;
  background-color: rgba(255,0,0,0.65);
  padding: 1px 5px;
  color: #fff;
  -border-radius 0 3px 0 3px

}