@import 'mixins'

input, textarea
    display: inline-block !important
.mce-tinymce
  display: inline-block !important
  width: 100% !important
  box-sizing: border-box !important
.edit-wrapper
  white-space: nowrap
textarea.editor
  margin-bottom: 50px
  min-height: 600px
  display: none !important
.custom-form
  padding: 0px 20px
  padding-bottom: 20px
  float: left
  width: 100%
  textarea
    min-height: 100px
  input, textarea
    background: #FFFFFF
    border: 1px solid #EEEEEE
    border-bottom-color: #cccccc
    -border-radius(3px)
    margin: 0
    margin-bottom: 4px
    outline: none
    color: #333;
    padding: 10px
    width: 100%
    resize:vertical
    &:focus
      border-color: #fd8a16

  .button,
  input[type=button],
  input[type=submit]
    display: inline-block
    background: #fd8a16
    color: white
    text-transform: uppercase
    border: 0 none
    width: auto
    float: right
    margin-top: 20px
    margin-left: 10px
    text-decoration: none
    -border-radius(3px)
    padding: 12px 15px 10px
    &:hover
      background: #fd9e3f
  .field-label
    color: #777777
    width: 100%
    padding: 5px

.error-wrapper {
  display: inline-block;
  width: 0;
  vertical-align: top;
  position: relative;
  pointer-events: none;
}
.error-wrapper .error {
  font-size: 0.9em;
  position: absolute;
  white-space: nowrap;
  top: 0;
  right: 0;
  background-color: rgba(255,0,0,0.65);
  padding: 1px 5px;
  color: #fff;
  -border-radius 0 3px 0 3px

}