.edit-buttons
  position: absolute
  top: 0
  right: 0
  font-size: 1.5em
  padding: 10px
  display: none
.news-list, .news-one
  article
    margin: 0
    margin-bottom: 5px
    position: relative
    &:hover
      .edit-buttons
        display: block
  .text
    padding: 0px 20px
  .datetime
    clear: both
    text-align: right
    padding: 5px 20px
    color: #aaaaaa
    font-size: 0.8em
  .footer
    float: left
    width: 100%
    border-top: 1px solid #eeeeee
    padding: 5px 20px
    position: relative

    .user-icon
      position: absolute
      border: 1px solid #eeeeee
      width: 30px
      height: 30px
      top: -15px
      left: 20px
    .comments, .likes
      float: right
      margin-left: 10px
      font-weight: 1.2em
      span
        margin: 0px 5px
    .likes
      color: #e7422c
    .comments
      color: #779dca

.news-form
  .title
    border-bottom: 1px solid #f6f6f6
    margin-bottom: 10px