
.news-list, .news-one
  .edit-buttons
    position: absolute
    top: 0
    right: 0
    font-size: 1.5em
    padding: 10px
    display: none
    a
      &:first-child span
        padding-top: 4px
      vertical-align: top
      display: inline-block
      height: 20px
      padding: 5px
  > .title
    text-align: center
    font-size: 1.7em
  article
    margin: 0
    margin-bottom: 5px
    position: relative
    &:hover
      .edit-buttons
        display: block
    > .title
      padding-right: 80px

    .text
      padding: 0px 20px
    .datetime
      clear: both
      text-align: right
      padding: 5px 20px
      color: #aaaaaa
      font-size: 0.8em
    .footer
      float: left
      width: 100%
      border-top: 1px solid #eeeeee
      padding: 5px 20px
      position: relative

      .user-icon
        position: absolute
        border: 1px solid #eeeeee
        width: 30px
        height: 30px
        top: -15px
        left: 20px
      .comments-counter, .likes-counter-component, .views
        float: right
        margin-left: 15px
        span
          padding: 0px 3px
      .comments-counter
        color: #779dca
      .views
        color: #999999
.news-list .text
  cursor: pointer
.news-form
  .title
    border-bottom: 1px solid #f6f6f6
    margin-bottom: 10px
