{% extends "layout.html" %}

{% block title %}Структура{% endblock %}
{% block content %}
<script type="text/jsx">
React.render(
    <ManageUsers dep_id="1" />,
    document.getElementById('manage-users'))

function wellDone(){
    window.location.href = "{{ url_for('user.profile') }}";
}
</script>
<div class="container-fluid">
    <h2>Поиск сотрудника</h2>

    <div id="manage-users"></div>

    <ul class="media-list">
      <li class="media">
        <div class="media-left">
            <img src="{{ current_user.photo.get_url('thumbnail') if current_user.photo else '/static/img/no_photo.jpg' }}" class="media-object foto-small" alt="Фото {{ current_user.full_name }}">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          Отдел
        </div>
      </li>
      <li class="media">
        <div class="media-left">
            <img src="{{ current_user.photo.get_url('thumbnail') if current_user.photo else '/static/img/no_photo.jpg' }}" class="media-object foto-small" alt="Фото {{ current_user.full_name }}">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          Отдел
        </div>
      </li>
      <li class="media">
        <div class="media-left">
            <img src="{{ current_user.photo.get_url('thumbnail') if current_user.photo else '/static/img/no_photo.jpg' }}" class="media-object foto-small" alt="Фото {{ current_user.full_name }}">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          Отдел
        </div>
      </li>
    </ul>
</div>
</div>

{% endblock %}