    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <!-- <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <!-- <script src="/static/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/static/bower_components/raphael/raphael-min.js"></script>
    <script src="/static/bower_components/morrisjs/morris.min.js"></script>
    <!--script src="/static/js/morris-data.js"></script-->

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/sb-admin-2.js"></script>

    <script src="/static/js/lib/bootstrap.js"></script>
    <script src="//fb.me/react-with-addons-0.13.3.js"></script>
    <script src="//fb.me/JSXTransformer-0.13.3.js"></script>
    <script src="/static/jsx/form.jsx" type="text/jsx"></script>

</body>

</html>