<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="/"><img src="/static/img/logo.png" alt=""/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{% if request.path in ['/profile', ] %}active{% endif %} dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Новости <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {{ widget('news_category.news_category_list')|safe }}
          </ul>
        </li>
        <li class="{% if request.path in ['/profile', ] %}active{% endif %} dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Сотрудники <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/">Поиск сотрудника</a></li>
            <li><a href="/">Кадровые изменения</a></li>
            <li><a href="/">Развитие сотрудника</a></li>
            <li><a href="/">Дни рождения</a></li>
          </ul>
        </li>
        <li class="{% if request.path in ['/profile', ] %}active{% endif %}"><a href="{{ url_for('company_structure.show_structure') }}">Структура компании </a></li>
        <li class="{% if request.path in ['/profile', ] %}active{% endif %}"><a href="/communities">Группы </a></li>
        <li class="{% if request.path in ['/profile', ] %}active{% endif %}"><a href="/">Техническая поддержка </a></li>
        {% if current_user.can_administrate() %}
        <li><a href="{{ url_for('admin.admin_index') }}">Админка </a></li>
        {% endif %}
      </ul>
        {% if current_user.is_authorized() %}
          <div class="user-profile-header">
            <div class="user-info">
                <a class="user-name" href="{{ url_for('user.profile') }}">{{ current_user.full_name }}</a>
                <a class="user-logout" href="{{ url_for('login.logout') }}">Выход</a>
            </div>
            <div class="user-icon" {% if current_user.photo %} style="background-image: url('{{ current_user.photo.get_url('thumbnail')}}')" {% endif %}>
            <a href="{{ url_for('user.profile') }}"></a>
            </div>
          </div>
        {% else %}
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ url_for('login.login') }}">Логин</a></li>
        </ul>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


