{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-7">
            {% block index_content %}{% endblock %}
        </div>
        <div class="col-sm-3 right-column">
        {% if not category and not tag %}
            <div class="frame">
                <h3 class="title">Именинники</h3>
                <div class="user-list">
                    {{ widget('user.birthdays')|safe }}
                </div>
            </div>
            <div class="frame">
                <h3 class="title">Новые сотрудники</h3>
                <div class="user-list">
                    {{ widget('user.new.members')|safe }}
                </div>
            </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}