<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PromTal</title>
    <link rel="shortcut icon" href="/static/img/favicon.png" />

    <link rel="stylesheet" href="/static/bundle/style.min.css">
    <link rel="stylesheet" href="/static/js/lib/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />

    <script src="/static/js/lib/jquery-1.11.3.min.js"></script>
    <script src="/static/js/lib/bootstrap.js"></script>
    <script src="/static/bundle/js.bundle.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/jquery.datetimepicker.css"/ >
    <script src="/static/js/lib/jquery.datetimepicker.js"></script>

</head>
<body>
    {% if not content_only %}{% include 'header.html' %}{% endif %}
    <div id="popup"></div>
    <div class="container-flex">
        {% block content %}{% endblock %}
    </div>
    {% if not content_only %}{% include 'footer.html' %}{% endif %}
    <script>
        var current_user = {
            id: {{ current_user.id or 0 }},
            full_name: '{{ current_user.full_name or '' }}',
            photo: '{{ current_user.photo.get_url if current_user.photo else '' }}',
            photo_s: '{{ current_user.photo.get_url('thumbnail') if current_user.photo else '' }}',
            is_authorized: {{ 'true' if current_user.is_authorized() else 'false' }}
        }
    </script>
    <script src="/static/js/lib/fancybox/jquery.fancybox.pack.js?v=2.1.5" type="text/javascript" ></script>
    <script src="/static/js/lib/tinymce/tinymce.min.js"></script>

</body>
</html>

