<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PromTal</title>
    <link rel="shortcut icon" href="/static/img/favicon.png" />
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/main.css" >
    <link rel="stylesheet" href="/static/css/style.css" >
    <link rel="stylesheet" href="/static/css/comments.css" >
    <link rel="stylesheet" href="/static/css/news.css" >
    <link rel="stylesheet" href="/static/css/form.css" >
    <link rel="stylesheet" href="/static/css/media.css" >
    <link rel="stylesheet" href="/static/css/jquery-ui.css" >
    <link rel="stylesheet" href="/static/js/lib/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />

    <script src="/static/js/lib/jquery-1.11.3.min.js"></script>
    <script src="/static/js/lib/date.format.js"></script>
    <script src="/static/js/lib/fancybox/jquery.fancybox.pack.js?v=2.1.5" type="text/javascript" ></script>
    <script src="/static/js/script.js"></script>
    <script src="/static/js/markup.js"></script>
    <script src="/static/js/news.js"></script>

    <script src="/static/jsx/form.jsx" type="text/jsx"></script>
    <script src="/static/jsx/popup.jsx" type="text/jsx"></script>
    <script src="/static/jsx/user.jsx" type="text/jsx"></script>
    <script src="/static/jsx/media.jsx" type="text/jsx"></script>
    <script src="/static/jsx/comments.jsx" type="text/jsx"></script>
    <script src="/static/jsx/vote.jsx" type="text/jsx"></script>

</head>
<body>
    {% include 'header.html' %}
    <div id="popup"></div>
    <div class="container-flex">
        <div class="row">
            <div class="col-sm-3 left-column">
                <div class="frame">
                    <h3 class="title">Именинники</h3>
                    <div class="user-list">
                        {{ widget('user.birthdays')|safe }}
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                {% block content %}{% endblock %}
            </div>
            <div class="col-sm-2">
                {% if current_user.is_authorized() %}
                <a href="/news/new" class="button new">Новая новость</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
    <script>
        var current_user = {
            id: {{ current_user.id or 0 }},
            full_name: '{{ current_user.full_name or '' }}',
            photo: '{{ current_user.photo.get_url if current_user.photo else '' }}',
            photo_s: '{{ current_user.photo.get_url('thumbnail') if current_user.photo else '' }}',
            is_authorized: {{ 'true' if current_user.is_authorized() else 'false' }}
        }
    </script>
    <script src="/static/js/lib/jquery-ui.js"></script>
    <script src="/static/js/lib/bootstrap.js"></script>
    <script src="/static/js/lib/bootstrap-filestyle.min.js"></script>
    <script src="/static/js/lib/jquery.textarea_autosize.js"></script>
    <script src="/static/js/lib/tinymce/tinymce.min.js"></script>
    <script src="/static/js/lib/react-with-addons.js"></script>
    <script src="/static/js/lib/JSXTransformer.js"></script>
    <script src="/static/js/lib/rx.all.js"></script>
</body>
</html>