<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand logo" href="/admin"><img src="/static/img/logo.png" alt=""></a>
        </div>
        <div id="main_navbar_items" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class=""><a href="#" title="Manage users"><span class="fa fa-users"></span> USERS </a></li>
                <li class=""><a href="#" title="Manage news"><span class="fa fa-newspaper-o"></span> NEWS </a></li>
                <li class=""><a href="#" title="Manage comments"><span class="fa fa-comments"></span> COMMENTS </a></li>
                <li class=""><a href="#" title="Manage docs"><span class="fa fa-info"></span> DOCUMENTS </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li style="margin: 12px;">
                    <div style="display: inline-block; float: left;">
                        <input id="search_input" type="text" style="width: 200px;" placeholder="Search..." />
                    </div>
                    <div style="display: inline-block; float: left; margin-top: 3px; margin-left: 5px;">
                        <span class="fa fa-search" style="font-size: 16px;"></span>
                    </div>
                </li>
                <li class=""><a href="/profile"> MY PROFILE </a></li>
                <li class=""><a href="/logout"> LOG OUT </a></li>
            </ul>
        </div>
    </div>
</nav>