{% block nav %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand logo" href="/"><img src="/static/img/logo.png" alt=""/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('admin.s_users') }}">Пользователи </a></li>
            <li><a href="{{ url_for('admin.s_news') }}">Новости </a></li>
            {% if current_user.is_admin or ('change_company_structure' in current_user.get_permissions()) %}
                <li><a href="{{ url_for('admin.company_structure_show') }}">Структура компании </a></li>
            {% endif %}
            <li><a href="{{ url_for('admin.news_categories') }}">Разделы новостей </a></li>
          </ul>
          <div class="user-profile-header">
            <div class="user-info">
                <a class="user-name" href="{{ url_for('user.profile') }}">{{ current_user.full_name }}</a>
                <a class="user-logout" href="{{ url_for('login.logout') }}">Выход</a>
                <a class="user-logout block" href="{{ url_for('main.list_all') }}">Портал </a>
            </div>
            <div class="user-icon" {% if current_user.photo %} style="background-image: url('{{ current_user.photo.get_url('thumbnail')}}')" {% endif %}>
            <a href="{{ url_for('user.profile') }}"></a>
            </div>
          </div>
        </div>
    </div>
</nav>
{% endblock %}
