<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/main.css" >
    <link rel="stylesheet" href="/static/css/style.css" >
    <script src="/static/jsx/form.jsx" type="text/jsx"></script>
    <title>{% block title %}{% endblock %} - PromTal Admin</title>
    {% endblock %}
</head>
<body>
{% block body %}
<div class="container-fluid">
    {% include 'admin/header.html' %}
    {% block content %}
    {% endblock %}
</div>
{% endblock %}
    <script src="/static/js/lib/jquery-1.11.3.min.js"></script>
    <script src="/static/js/lib/bootstrap.js"></script>
    <script src="/static/js/lib/react-with-addons.js"></script>
    <script src="/static/js/lib/JSXTransformer.js"></script>
</body>
</html>