<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand logo" href="index.html"><img class="logo" src="/static/img/logo.png" alt=""/></a>
    <!--a href="/" class="logo"><img src="/static/img/logo.png" alt=""/></a-->
</div>
<!-- /.navbar-header -->