{% extends "admin/layout.html" %}

{% block title %}Структура{% endblock %}
{% block content %}
<script type="text/jsx">
React.render(
    <ManageUsers dep_id="{{ department.id }}" />,
    document.getElementById('manage-users'))

function wellDone(){
    window.location.href = "{{ url_for('user.profile') }}";
}
</script>
<div class="container-fluid">
    <h2>{{ department.name }} <!--a class="btn btn-primary" href="{{ url_for('admin.manage_users', dep_id=department.id ) }}" role="button"><span class="glyphicon glyphicon-user"></span> Добавить работника</a--></h2>

    <div id="manage-users"></div>

    <!--ul class="media-list">
      <li class="media">
        <div class="media-left">
            <img src="{{ current_user.photo.get_url('thumbnail') if current_user.photo else '/static/img/no_photo.jpg' }}" class="media-object foto-small" alt="Фото {{ current_user.full_name }}">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          Отдел
        </div>
      </li>
      <li class="media">
        <div class="media-left">
            <img src="{{ current_user.photo.get_url('thumbnail') if current_user.photo else '/static/img/no_photo.jpg' }}" class="media-object foto-small" alt="Фото {{ current_user.full_name }}">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          Отдел
        </div>
      </li>
      <li class="media">
        <div class="media-left">
            <img src="{{ current_user.photo.get_url('thumbnail') if current_user.photo else '/static/img/no_photo.jpg' }}" class="media-object foto-small" alt="Фото {{ current_user.full_name }}">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          Отдел
        </div>
      </li>
    </ul>



    <h2>{{ department.name }} <a class="btn btn-primary" href="#" role="button"><span class="glyphicon glyphicon-user"></span> Добавить работника</a></h2-->
    <table id="users_datatables" class="table table-striped table-hover dt-responsive table-admin table-manage">
        <thead>
            <tr>
                <th>ID </th>
                <th>Name</th>
                <th>Email</th>
                <th>Login</th>
                <th>Cell phone</th>
                <th>Inner phone</th>
                <th>Manage</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script type="text/javascript">
window.onload = function() {
    $(document).ready(function() {
        $('#users_datatables').DataTable({
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "{{ url_for('admin.dep_users_json', dep_id=department.id ) }}"
        });
    } );

    $('.selectpicker').selectpicker({
      style: 'btn-default',
      size: 5
    });

    window.change_user_dep = function(dep_user){
        $.ajax({
          url: "/admin/company-structure/set-user-dep/"+dep_user+"/",
          success: function(json) {
                if(json.status == 'ok'){
                    console.log("OK");
                    location.reload();
                }
          }
        });
    }
    //change_user_dep('0', '818');

}
</script>
</div>

{% endblock %}