{% import "macros/user.html" as user %}
{% macro show(comments, level=0) %}
    <ul class="comments">
    {% for comment in comments recursive%}
    <li class="comment">
        {{ user.icon(comment.author) }}
        <div class="message frame">
            <div class="fa fa-caret-left arrow"></div>
            <div class="header">
                <a href='/user/profile/{{ comment.author.id }}'>{{ comment.author.full_name }}</a>
                <span class="datetime">{{ comment.datetime|datetime }}</span>
            </div>
            <div class="text">{{ comment.text }}</div>
            <div class="footer"></div>
        </div>
        {%- if comment.quotes -%}
            <ul class="quotes depth-{{ loop.depth0 }}">{{ loop(comment.quotes) }}</ul>
        {%- endif %}
    </li>
    {% endfor %}
    </ul>
{% endmacro %}

{% macro new(current_user, entity_name=None, entity_id=None, quote_for=None) %}
    {% if current_user.is_authorized() and ((entity_name and entity_id) or quote_for) %}
    <ul class="comments new">
        <li class="comment">
            {{ user.icon(current_user) }}
            <div class="message frame">
                <div class="fa fa-caret-left arrow"></div>
                <div class="text" id="new_comment_form">
                    <script type="text/jsx">
                        React.render(
                            <AJAXForm className="custom-form" action="/comment/new" method="post" onSuccess={locationReload}>
                                <div className="wrapper">
                                    <input type="hidden" name="entity_name" value="{{ entity_name or ''}}"/>
                                    <input type="hidden" name="entity_id" value="{{ entity_id or ''}}"/>
                                    <input type="hidden" name="quote_for" value="{{ quote_for or ''}}"/>
                                    <TextArea name="comment" className="autosize" placeholder="Оставить комментарий"></TextArea>
                                    <button type="submit" className="button send" title="Отправить"><span className="fa fa-send"></span></button>
                                </div>
                            </AJAXForm>,
                            document.getElementById('new_comment_form'))
                        </script>
                </div>
            </div>

        </li>
    </ul>
    {% endif %}
{% endmacro %}