.comments {
  padding: 0;
  padding-top: 5px;
  list-style: none;
  padding-left: 10px;
  margin-bottom: 0px;
}
.comments ul {
  list-style: none;
  padding-left: 40px;
}
.comments > .comment.form {
  padding-top: 0px;
}
.comments > .comment.form:first-child {
  margin-bottom: 15px;
}
.comments > .comment.form:first-child .user-icon {
  margin-top: -5px;
}
.comments .comment {
  position: relative;
}
.comments .comment .likes-counter {
  margin-left: 10px;
}
.comments .comment .likes-counter:not(.active) {
  opacity: 0.3;
}
.comments .comment .likes-counter:hover {
  opacity: 1;
}
.comments .comment .system-message {
  color: #ccc;
}
.comments .comment .user-icon {
  position: absolute;
}
.comments .comment .message {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 5px 10px;
  margin-left: 60px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 50px;
  position: relative;
  overflow: visible;
}
.comments .comment .message:hover .answer-button,
.comments .comment .message:hover .edit-button,
.comments .comment .message:hover .delete-button {
  display: block;
}
.comments .comment .message .answer-button,
.comments .comment .message .edit-button,
.comments .comment .message .delete-button {
  float: right;
  display: none;
  margin-left: 10px;
}
.comments .comment .message .text {
  white-space: pre-wrap;
}
.comments .comment .message .datetime {
  color: #aaa;
  font-size: 0.8em;
  padding-left: 10px;
}
.comments .comment .message .arrow {
  position: absolute;
  color: #fff;
  left: -0.35em;
  font-size: 1.3em;
  top: 5px;
}
.comments .comment .message .smile {
  margin-top: -4px;
}
.comments .quotes ul {
  padding-left: 20px;
}
.comments .quotes .comment .user-icon {
  width: 30px;
  height: 30px;
  margin-top: 0px;
}
.comments .quotes .comment .message {
  margin-left: 40px;
  min-height: 30px;
}
.comments .quotes .comment .message .arrow {
  top: 5px;
}
.comment.form > .message {
  padding: 0;
  min-height: 30px;
}
.comment.form > .message .text {
  white-space: normal;
}
.comment.form > .message form {
  padding: 0;
  float: none;
  text-align: right;
  position: relative;
}
.comment.form > .message form .wrapper {
  position: relative;
  padding-right: 80px;
}
.comment.form > .message textarea {
  border: 0 none;
  min-height: 39px;
  height: 39px;
  margin-bottom: -5px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  padding-top: 12px;
  resize: none;
  overflow: hidden;
}
.comment.form > .message .right-buttons {
  top: 0;
  right: 0;
  position: absolute;
  height: 100%;
}
.comment.form > .message .send {
  display: inline-block;
  outline: none;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 100%;
  color: #fff;
  border: 0 none;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  text-align: center;
  font-size: 1.2em;
}
.comment.form > .message .media-uploader {
  margin: 0;
  display: inline-block;
  height: 39px;
  width: 39px;
  font-size: 1.5em;
  padding: 4px;
}
.comments .media-holder {
  margin: 3px -9px -4px;
}
.comments .media-holder .cancel {
  display: none;
}
.comments .comment.form .media-holder {
  margin: 0;
  margin-right: -40px;
}
.comments .comment.form .media-holder .cancel {
  display: block;
}
