input,
textarea {
  display: inline-block !important;
}
.mce-tinymce {
  display: inline-block !important;
  width: 100% !important;
  box-sizing: border-box !important;
}
.edit-wrapper {
  white-space: nowrap;
}
textarea.editor {
  margin-bottom: 50px;
  min-height: 600px;
  display: none !important;
}
.custom-form {
  padding: 0px 20px;
  padding-bottom: 20px;
  float: left;
  width: 100%;
}
.custom-form textarea {
  min-height: 100px;
}
.custom-form input,
.custom-form textarea {
  background: #fff;
  border: 1px solid #eee;
  border-bottom-color: #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0;
  margin-bottom: 4px;
  outline: none;
  color: #333;
  padding: 10px;
  width: 100%;
  resize: vertical;
}
.custom-form input:focus,
.custom-form textarea:focus {
  border-color: #fd8a16;
}
.custom-form .button,
.custom-form input[type=button],
.custom-form input[type=submit] {
  display: inline-block;
  background: #fd8a16;
  color: #fff;
  text-transform: uppercase;
  border: 0 none;
  width: auto;
  float: right;
  margin-top: 20px;
  margin-left: 10px;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 12px 15px 10px;
}
.custom-form .button:hover,
.custom-form input[type=button]:hover,
.custom-form input[type=submit]:hover {
  background: #fd9e3f;
}
.custom-form .field-label {
  color: #777;
  width: 100%;
  padding: 5px;
}
select + .error-wrapper {
  vertical-align: bottom;
}
select + .error-wrapper .error {
  margin-top: -3px;
  -webkit-border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
}
select[multiple] + .error-wrapper {
  vertical-align: bottom;
}
select[multiple] + .error-wrapper .error {
  margin-top: -20px;
  -webkit-border-radius: 3px 0px 0px 0px;
  -moz-border-radius: 3px 0px 0px 0px;
  border-radius: 3px 0px 0px 0px;
}
.error-wrapper {
  display: inline-block;
  width: 0;
  vertical-align: top;
  position: relative;
  pointer-events: none;
}
.error-wrapper .error {
  font-size: 0.9em;
  position: absolute;
  white-space: nowrap;
  top: 0;
  right: 0;
  background-color: rgba(255,0,0,0.65);
  padding: 1px 5px;
  color: #fff;
  -webkit-border-radius: 0 3px 0 3px;
  -moz-border-radius: 0 3px 0 3px;
  border-radius: 0 3px 0 3px;
}
