button {
  outline: none;
}
button[disabled] {
  opacity: 0.7;
}
button[disabled]:hover {
  background: #fd8a16;
}
input[type],
textarea {
  display: inline-block;
}
.mce-tinymce {
  display: inline-block !important;
  width: 100% !important;
  box-sizing: border-box !important;
}
.edit-wrapper {
  white-space: nowrap;
}
textarea.editor {
  margin-bottom: 50px;
  min-height: 600px;
  display: none !important;
}
.custom-form {
  padding: 0px 20px;
  padding-bottom: 20px;
  float: left;
  width: 100%;
}
.custom-form textarea {
  min-height: 100px;
}
.custom-form input[type=text],
.custom-form input[type=password],
.custom-form textarea {
  background: #fff;
  border: 1px solid #eee;
  border-bottom-color: #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0;
  margin-bottom: 4px;
  outline: none;
  color: #333;
  padding: 10px;
  width: 100%;
  resize: vertical;
}
.custom-form input[type=text]:focus,
.custom-form input[type=password]:focus,
.custom-form textarea:focus {
  border-color: #fd8a16;
}
.custom-form .button,
.custom-form input[type=button],
.custom-form input[type=submit] {
  display: inline-block;
  background: #fd8a16;
  color: #fff;
  text-transform: uppercase;
  border: 0 none;
  width: auto;
  float: right;
  margin-top: 20px;
  margin-left: 10px;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 12px 15px 10px;
}
.custom-form .button[disabled],
.custom-form input[type=button][disabled],
.custom-form input[type=submit][disabled] {
  opacity: 0.7;
}
.custom-form .button[disabled]:hover,
.custom-form input[type=button][disabled]:hover,
.custom-form input[type=submit][disabled]:hover {
  background: #fd8a16;
}
.custom-form .button:hover,
.custom-form input[type=button]:hover,
.custom-form input[type=submit]:hover {
  background: #fd9e3f;
}
.custom-form .button.cancel,
.custom-form input[type=button].cancel,
.custom-form input[type=submit].cancel {
  background: #e7422c;
}
.custom-form .button.cancel:hover,
.custom-form input[type=button].cancel:hover,
.custom-form input[type=submit].cancel:hover {
  background: #ff6961;
}
.custom-form .button.success,
.custom-form input[type=button].success,
.custom-form input[type=submit].success {
  background: #7d7;
}
.custom-form .button.success:hover,
.custom-form input[type=button].success:hover,
.custom-form input[type=submit].success:hover {
  background: #89dd89;
}
.custom-form .field-label {
  color: #777;
  width: 100%;
  padding: 5px;
}
select + .error-wrapper {
  vertical-align: bottom;
}
select + .error-wrapper .error {
  margin-top: -3px;
  -webkit-border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
}
select[multiple] + .error-wrapper {
  vertical-align: bottom;
}
select[multiple] + .error-wrapper .error {
  margin-top: -20px;
  -webkit-border-radius: 3px 0px 0px 0px;
  -moz-border-radius: 3px 0px 0px 0px;
  border-radius: 3px 0px 0px 0px;
}
.error-wrapper {
  display: inline-block;
  width: 0;
  vertical-align: top;
  position: relative;
  pointer-events: none;
}
.error-wrapper .error {
  font-size: 0.9em;
  position: absolute;
  white-space: nowrap;
  top: 0;
  right: 0;
  background-color: rgba(255,0,0,0.65);
  padding: 1px 5px;
  color: #fff;
  -webkit-border-radius: 0 3px 0 3px;
  -moz-border-radius: 0 3px 0 3px;
  border-radius: 0 3px 0 3px;
}
.custom-form .tag-field {
  width: 100%;
  float: left;
  background: #fff;
  border: 1px solid #eee;
  border-bottom-color: #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0;
  margin-bottom: 4px;
  outline: none;
  color: #333;
  padding: 5px;
  resize: vertical;
  cursor: text;
}
.custom-form .tag-field .tag {
  padding: 2px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 2px 5px;
  float: left;
  border: 1px dotted #ccc;
}
.custom-form .tag-field .tag span {
  padding-right: 5px;
}
.custom-form .tag-field .tag .delete {
  cursor: pointer;
  color: #e7422c;
  padding: 0;
}
.custom-form .tag-field .tag .delete:hover {
  color: #ff6961;
}
.custom-form .tag-field:focus {
  border-color: #fd8a16;
}
.custom-form .tag-field .value-wrapper {
  float: left;
  position: relative;
}
.custom-form .tag-field .value-wrapper span {
  display: inline-block;
  padding: 2px 1px;
  white-space: pre-wrap;
  margin: 0px 5px;
  padding-left: 10px;
  height: 27px;
  vertical-align: top;
}
.custom-form .tag-field .value-wrapper input {
  padding: 0;
  padding-left: 10px;
  margin-top: 4px;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0 none;
  box-sizing: content-box;
}
