body {
    margin: 0;
    padding: 0;
    background-color: #eee !important;
}

* {
    box-sizing: border-box;
}

header {
    padding: 10px 0;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.logo img {
    height: 30px;
    margin: 10px;
}
a.logo {
    padding: 0;
}