body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

header {
    padding: 10px 0;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.logo img {
    height: 30px;
    margin: 10px;
    margin-top: 5px;
}
a.logo {
    padding: 0;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #fff;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

.btn-lg
{
    margin-top: 5px;
}
.alert-danger
{
    margin-bottom: 5px;
}
.form-signin input[type="password"] {
    margin-bottom: 0;
}
.body-message {
    font-weight: bold;
    font-size: 40px;
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 1px;
}
.full_name_input {
    width: 270px;
}
.ninja {
    display: none;
}
.drop-down-pass {
    cursor: pointer;
    color: rgb(51, 122, 183);
}
.eye-pass {
    position: absolute;
    top: 11px;
    left: -20px;
    cursor: pointer;
}
.form-pass {
    position: relative;
}
.form-pass2 {
    margin-top: -1px;
}
.foto-small {
    height: 40px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
}
.dropdown-toggle-foto {
    padding: 5px 0px !important;
    padding-left: 15px !important;
}
.email-restore {
    border-radius: 4px !important;
}
.new-password-1, .edit-password-old {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.new-password-2 {
    margin-top: -1px;
}
.edit-password-1 {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    margin-top: -1px;
}
.table-admin {
    background-color: white;
    border: solid 1px #DDD;
}
table.table-manage thead .sorting:last-child:after {
    content: "";
    cursor: pointer;
}
table.table-manage thead .sorting:last-child {
    cursor: default;
}
li.media {
    display: inline-block;
}
.media-left, .media-right, .media-body {
    display: inherit;
    vertical-align: top;
    width: auto;
    padding-right: 10px;
}
.foto-small-struct {
    height: 25px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    margin-right: 10px;
}
.lvl-over {
  border: 1px dashed #555 !important;
}

.lvl-target {
  background-color: #ddd; 
  opacity: .5;
}

[draggable] {
  cursor: move;
}
.fio {
    margin-bottom: 10px;
}
.user-in-search {
    cursor: pointer;
    margin-top: 0;
    margin-right: 10px;
}
/* Custom chart styling */
.jOrgChart {
  margin                : 10px;
  padding               : 20px;
}
.jOrgChart .node {
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid rgb(131, 137, 141);;
    color: rgb(34, 31, 37);
    -moz-border-radius  : 8px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0eafd+0,b1ccfd+100 */
    background: #e0eafd; /* Old browsers */
    background: -moz-linear-gradient(top,  #e0eafd 0%, #b1ccfd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0eafd), color-stop(100%,#b1ccfd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e0eafd 0%,#b1ccfd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e0eafd 0%,#b1ccfd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e0eafd 0%,#b1ccfd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e0eafd 0%,#b1ccfd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0eafd', endColorstr='#b1ccfd',GradientType=0 ); /* IE6-9 */
}
    .node p{
        font-size       : 10px;
        line-height     : 11px;
        padding         : 2px;
    }

.metisFolder{
    text-shadow: 0 1px 0 #DDD;
}
.dep-icon {
    float: left;
    margin-right: 5px;
}
.dep-icon-style {
    font-size: 10px;
    opacity: 0.5;
}
.dep-manager {
    font-size: 10px;
}