.media-uploader {
  vertical-align: top;
  width: 30px;
  height: 30px;
  font-size: 2em;
  color: #779dca;
  position: relative;
}
.media-uploader button.toggle {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: none;
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  padding: 4px;
  color: #779dca;
  background: transparent;
}
.media-uploader.opened button.toggle,
.media-uploader button.toggle:hover {
  background: #779dca;
  color: #fff;
}
.media-uploader.opened .options {
  display: block;
  opacity: 1;
}
.media-uploader .options {
  opacity: 0;
  display: none;
  position: absolute;
  bottom: 100%;
  right: 5px;
  background: #fff;
  margin-bottom: 9px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.2);
  -ms-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.2);
}
.media-uploader .options > .buttons {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  background: #fff;
}
.media-uploader .options > .buttons button {
  padding: 5px 10px;
  margin: 0;
  border: 0 none;
  background: transparent;
  color: #779dca;
  width: 100%;
  font-size: 0.7em;
  white-space: nowrap;
  text-align: left;
}
.media-uploader .options > .buttons button span:first-child {
  padding-right: 5px;
}
.media-uploader .options > .buttons button:hover,
.media-uploader .options > .buttons button.active {
  background-color: #779dca;
  color: #fff;
}
.media-uploader .options .fa.arrow {
  color: #fff;
  top: 100% !important;
  right: 10px;
  height: 7px;
  line-height: 7px;
  margin-top: -1px;
  font-size: 1.2em;
  -webkit-text-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  -moz-text-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  -ms-text-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  text-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  z-index: 0;
}
.media-uploader .options .title {
  text-align: center;
  border-bottom: 1px solid #eee;
  margin: 0px -10px 15px;
}
.media-uploader .options .file-uploader {
  padding: 10px;
  padding-top: 0;
  min-width: 400px;
  font-size: 0.8em;
}
.media-uploader .options .file-uploader .buttons {
  float: right;
  padding: 15px 0px;
}
.media-uploader .options .file-uploader .buttons .button {
  padding: 5px 10px;
  margin: 0px;
  margin-left: 10px;
  text-transform: inherit;
  float: left;
}
.media-uploader .options .file-uploader .preview .wrapper {
  margin: 10px 0px;
  padding-right: 0px !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  text-align: center;
  width: 100%;
}
.media-uploader .options .file-uploader .preview input {
  display: none;
}
.media-uploader .options .file-uploader .preview img {
  max-width: 100%;
}
.media-uploader .options .file-uploader .url-wrapper {
  position: relative;
}
.media-uploader .options .file-uploader .url-wrapper input {
  padding: 10px;
  margin: 0;
  padding-right: 50px;
}
.media-uploader .options .file-uploader .url-wrapper .download {
  position: absolute;
  padding: 5px;
  font-size: 1.2em;
  margin: 0;
  height: 100%;
  right: 0;
  width: 40px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.media-uploader .options .file-uploader .separator {
  color: #eee;
  text-align: center;
  position: relative;
  margin: 10px 0px;
}
.media-uploader .options .file-uploader .separator span {
  background: #fff;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}
.media-uploader .options .file-uploader .separator:before {
  content: '';
  position: absolute;
  top: 45%;
  width: 100%;
  border-bottom: 1px solid #eee;
  left: 0;
}
.media-uploader .options .file-uploader .drop-area {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px dashed #ccc;
  color: #aaa;
  padding: 20px;
  text-align: center;
}
.media-holder {
  border-bottom: 3px solid #fff;
  text-align: left;
/*padding: 10px*/
/*border-top: 1px solid #eeeeee*/
  margin-right: -40px;
  -webkit-border-radius: 0px 0px 0px 3px;
  -moz-border-radius: 0px 0px 0px 3px;
  border-radius: 0px 0px 0px 3px;
  overflow: hidden;
  padding: 2px;
  max-height: 400px;
  height: auto;
}
.media-holder .media > div {
  width: 100%;
  height: 100%;
}
.media-holder.count-0 {
  padding: 0;
  display: none;
}
.media-holder.hidden {
  display: none;
}
.media-holder .media.deleted {
  display: none;
}
.media-holder .approved {
  width: 20%;
  height: auto;
  max-height: 100px;
}
.media-holder .approved:first-of-type {
  width: 100%;
  max-height: 300px;
}
.media-holder.count-1 .media.approved {
  width: 100%;
  max-height: 400px;
}
.media-holder.count-2 .media.approved {
  width: 50%;
  max-height: 400px;
}
.media-holder.count-3 .media.approved {
  width: 50%;
  max-height: 200px;
}
.media-holder.count-3 .media.approved:first-of-type {
  width: 100%;
}
.media-holder.count-4 .media.approved {
  width: 50%;
  max-height: 200px;
}
.media-holder.count-5 .media.approved {
  width: 25%;
  max-height: 100px;
}
.media-holder.count-5 .media.approved:first-of-type {
  width: 100%;
  max-height: 300px;
}
.media-holder.count-6 .media.approved {
  width: 20%;
  max-height: 100px;
}
.media-holder.count-6 .media.approved:first-of-type {
  width: 100%;
  max-height: 300px;
}
.media-holder .media {
  padding: 1px;
  display: none;
  position: relative;
  margin-top: 0;
  width: 100%;
  height: auto;
  max-height: 100%;
  text-align: center;
  overflow: hidden;
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #fff;
}
.media-holder .media.cover {
  background-size: cover;
}
.media-holder .media.contain {
  background-size: contain;
}
.media-holder .media .image {
  display: inline-block;
  width: 100%;
  height: auto;
  background-position: center center;
  background-size: cover;
}
.media-holder .media .cancel {
  width: 20px;
  height: 20px;
  background: #fff;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  margin: 5px 10px;
  position: absolute;
  top: 0px;
  right: 0px;
  color: #e7422c;
  padding: 0px;
  border: 0 none;
  font-size: 1em;
}
.media-holder .media .cancel:hover {
  color: #ff6961;
}
.media-holder .media.approved {
  display: inline-block;
  vertical-align: top;
}
.media-holder .media.approved input {
  display: none;
}
.media-holder .media.approved img {
  max-height: 100%;
  opacity: 0;
  z-index: -1;
  position: relative;
}
