.news-list .edit-buttons,
.news-one .edit-buttons {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5em;
  padding: 10px;
  display: none;
}
.news-list .edit-buttons a,
.news-one .edit-buttons a {
  vertical-align: top;
  display: inline-block;
  height: 20px;
  padding: 5px;
}
.news-list .edit-buttons a:first-child span,
.news-one .edit-buttons a:first-child span {
  padding-top: 4px;
}
.news-list > .title,
.news-one > .title {
  text-align: center;
  font-size: 1.7em;
}
.news-list article,
.news-one article {
  margin: 0;
  margin-bottom: 5px;
  position: relative;
}
.news-list article:hover .edit-buttons,
.news-one article:hover .edit-buttons {
  display: block;
}
.news-list article > .title,
.news-one article > .title {
  padding-right: 80px;
}
.news-list article .text,
.news-one article .text {
  padding: 0px 20px;
}
.news-list article .text img,
.news-one article .text img {
  max-width: 100%;
  height: auto;
}
.news-list article .datetime,
.news-one article .datetime {
  clear: both;
  text-align: right;
  padding: 5px 20px;
  color: #aaa;
  font-size: 0.8em;
}
.news-list article .footer,
.news-one article .footer {
  float: left;
  width: 100%;
  border-top: 1px solid #eee;
  padding: 5px 20px;
  position: relative;
  padding-left: 70px;
}
.news-list article .footer .category,
.news-one article .footer .category {
  padding-right: 39px;
  color: #999;
  float: left;
}
.news-list article .footer .tags,
.news-one article .footer .tags {
  float: left;
  margin-left: -19px;
}
.news-list article .footer .tags .tag,
.news-one article .footer .tags .tag {
  white-space: nowrap;
  padding: 0px 5px;
  color: #779dca;
}
.news-list article .footer .tags .tag:hover,
.news-one article .footer .tags .tag:hover {
  color: #23527c;
}
.news-list article .footer .user-icon,
.news-one article .footer .user-icon {
  position: absolute;
  border: 1px solid #eee;
  width: 30px;
  height: 30px;
  top: -15px;
  left: 20px;
}
.news-list article .footer .comments-counter,
.news-one article .footer .comments-counter,
.news-list article .footer .likes-counter-component,
.news-one article .footer .likes-counter-component,
.news-list article .footer .views,
.news-one article .footer .views {
  float: right;
  margin-left: 15px;
}
.news-list article .footer .comments-counter span,
.news-one article .footer .comments-counter span,
.news-list article .footer .likes-counter-component span,
.news-one article .footer .likes-counter-component span,
.news-list article .footer .views span,
.news-one article .footer .views span {
  padding: 0px 3px;
}
.news-list article .footer .comments-counter,
.news-one article .footer .comments-counter {
  color: #779dca;
}
.news-list article .footer .views,
.news-one article .footer .views {
  color: #999;
}
.news-create {
  width: 100%;
  text-align: center;
}
.news-list article {
  margin-bottom: 10px;
}
.news-list .text {
  cursor: pointer;
}
.news-form .title {
  border-bottom: 1px solid #f6f6f6;
}
