.news-list .title {
  margin: 0;
  padding: 15px 20px;
  color: #fd8a16;
/*border-bottom: 1px solid #f6f6f6*/
}
.news-list .text {
  padding: 0px 20px;
}
.news-list .datetime {
  text-align: right;
  padding: 5px 20px;
  color: #aaa;
  font-size: 0.8em;
}
.news-list .footer {
  float: left;
  width: 100%;
  border-top: 1px solid #eee;
  padding: 5px 20px;
  position: relative;
}
.news-list .footer .user-icon {
  position: absolute;
  border: 1px solid #eee;
  width: 30px;
  height: 30px;
  top: -15px;
  left: 20px;
}
.news-list .footer .comments,
.news-list .footer .likes {
  float: right;
  margin-left: 10px;
  font-weight: 1.2em;
}
.news-list .footer .comments span,
.news-list .footer .likes span {
  margin: 0px 5px;
}
.news-list .footer .likes {
  color: #e7422c;
}
.news-list .footer .comments {
  color: #779dca;
}
