.edit-buttons {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5em;
  padding: 10px;
  display: none;
}
.edit-buttons a {
  vertical-align: top;
  display: inline-block;
  height: 20px;
  padding: 5px;
}
.edit-buttons a:first-child span {
  padding-top: 4px;
}
.news-list > .title,
.news-one > .title {
  text-align: center;
  font-size: 1.7em;
}
.news-list article,
.news-one article {
  margin: 0;
  margin-bottom: 5px;
  position: relative;
}
.news-list article:hover .edit-buttons,
.news-one article:hover .edit-buttons {
  display: block;
}
.news-list article > .title,
.news-one article > .title {
  padding-right: 80px;
}
.news-list article .text,
.news-one article .text {
  padding: 0px 20px;
}
.news-list article .datetime,
.news-one article .datetime {
  clear: both;
  text-align: right;
  padding: 5px 20px;
  color: #aaa;
  font-size: 0.8em;
}
.news-list article .footer,
.news-one article .footer {
  float: left;
  width: 100%;
  border-top: 1px solid #eee;
  padding: 5px 20px;
  position: relative;
}
.news-list article .footer .user-icon,
.news-one article .footer .user-icon {
  position: absolute;
  border: 1px solid #eee;
  width: 30px;
  height: 30px;
  top: -15px;
  left: 20px;
}
.news-list article .footer .comments-counter,
.news-one article .footer .comments-counter,
.news-list article .footer .likes,
.news-one article .footer .likes,
.news-list article .footer .views,
.news-one article .footer .views {
  float: right;
  margin-left: 10px;
  font-weight: 1.2em;
}
.news-list article .footer .comments-counter span,
.news-one article .footer .comments-counter span,
.news-list article .footer .likes span,
.news-one article .footer .likes span,
.news-list article .footer .views span,
.news-one article .footer .views span {
  margin: 0px 5px;
}
.news-list article .footer .likes,
.news-one article .footer .likes {
  color: #e7422c;
}
.news-list article .footer .comments-counter,
.news-one article .footer .comments-counter {
  color: #779dca;
}
.news-list article .footer .views,
.news-one article .footer .views {
  color: #999;
}
.news-form .title {
  border-bottom: 1px solid #f6f6f6;
  margin-bottom: 10px;
}
