html,
body {
  min-height: 100%;
}
body {
  font-size: 12px;
  background-color: #eee;
  padding-bottom: 100px;
}
header {
  background: #fff;
  padding: 10px 0px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
  -ms-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
}
header .logo img {
  height: 30px;
}
/* ------------------------ BOOTSTRAP FIX ------------------------------ */
.navbar.navbar-default {
  background: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-bottom: 1px solid #eee;
/*box-shadow 0px 0px 2px 0px rgba(0,0,0,.2)*/
}
body {
  background: #f6f6f6 !important;
}
/* --------------------------------------------------------------------- */
.frame,
.popup-wrapper td .popup-window {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
  -ms-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
  overflow: hidden;
}
.login-frame,
.registration-frame {
  margin: 10px;
  padding: 10px;
  float: left;
}
.login-frame input[type=submit],
.registration-frame input[type=submit] {
  float: right;
  margin-top: 10px;
}
.user-icon {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  background-position: center center;
  background-size: cover;
  background-image: url("/static/img/no-photo-s.png");
  cursor: pointer;
  background-color: #fff;
}
h3.title {
  margin: 0;
  padding: 15px 20px;
  color: #fd8a16;
}
h3.title a {
  color: #fd8a16;
  text-decoration: none;
/*border-bottom: 1px solid #f6f6f6*/
}
h3.title a:hover {
  text-decoration: underline;
}
.button {
  float: none;
  display: inline-block;
  background: #fd8a16;
  color: #fff;
  text-transform: uppercase;
  border: 0 none;
  width: auto;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 12px 15px 10px;
}
.button:hover {
  text-decoration: none;
  color: #fff;
  background: #fd9e3f;
}
/* ------------------------ POPUP ------------------------------ */
.popup-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
/*background: rgba(255,255,255,0.4)*/
  background: rgba(0,0,0,0.1);
  z-index: 999;
}
.popup-wrapper td {
  vertical-align: middle;
  text-align: center;
}
.popup-wrapper td .popup-window {
  width: auto;
  display: inline-block;
  position: relative;
}
.popup-wrapper td .popup-window.has-close-button > .close {
  display: block;
}
.popup-wrapper td .popup-window.has-close-button > .title {
  text-align: left;
  padding-right: 50px;
}
.popup-wrapper td .popup-window > .close {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 18px;
  font-family: "FontAwesome";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ccc;
  opacity: 1;
}
.popup-wrapper td .popup-window > .close:hover {
  color: #ff6961;
}
.popup-wrapper td .popup-window > .close:before {
  content: "\f00d";
}
.popup-wrapper td .popup-window > h3.title {
  border-bottom: 1px solid #eee;
}
.popup-wrapper td .popup-window > .content {
  padding: 10px;
}
.popup-wrapper td .popup-window > .buttons button {
  margin: 10px;
  min-width: 100px;
}
.popup-wrapper td .popup-window > .buttons button.left {
  float: left;
}
.popup-wrapper td .popup-window > .buttons button.right {
  float: right;
}
.profile .header {
  border-bottom: 1px solid #eee;
}
.profile .title {
  display: inline-block;
}
.profile .content {
  padding: 20px;
}
.profile .edit-buttons {
  float: right;
  padding: 22px 20px 0px;
}
.left-column .frame {
  margin: 0px 0px 20px 20px;
}
.left-column .frame .title {
  border-bottom: 1px solid #eee;
}
.user-birthdays {
  list-style: none;
  padding: 0;
  margin: 0;
}
.user-birthdays li.user {
  padding: 5px 10px;
  position: relative;
}
.user-birthdays li.user .user-icon {
  position: absolute;
}
.user-birthdays li.user .info {
  height: 50px;
  padding: 10px 0px;
  width: 100%;
  margin-left: 60px;
}
.user-birthdays li.user .info .birthday {
  color: #999;
}
.user-birthdays li.no-one {
  padding: 5px;
  color: #999;
  text-align: center;
}
.likes-counter {
  color: #e7422c;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.likes-counter span {
  padding: 0px 3px;
  display: inline-block;
}
.likes-counter .icon:before {
  content: '\f08a';
}
.likes-counter.active .icon:before {
  content: '\f004';
}
