{% extends "layout.html" %}
{% import "macros/user.html" as user %}

{% block content %}
<div class="row communities">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <div class="col-md-12">
            <div class="frame header">
                <h3 class="title">Группы</h3>
                <a href="{{ url_for('community.community_form') }}" class="button new community-create">Новая группа</a>
            </div>
        </div>
        <div class="communities-list">
        {% for community in communities %}
        <div class="col-md-12">
        <div class="community frame">
            <div>
                <div class="image" {% if community.image %} style="background-image: url('{{ community.image.get_url() }}')" {% endif %}></div>
                <div class="info" onclick="window.location.href='{{ url_for("community.community_page", id=community.id) }}'">
                    <a href="{{ url_for("community.community_page", id=community.id) }}" class="name">{{ community.name or '' }}</a>
                    <div class="description">{{ community.description or '' }}</div>
                    <div class="members"> Учасников: {{ community.members|length + 1}}</div>
                </div>
            </div>
            <div class="top-buttons">
                {% if current_user == community.owner %}
                <div class="edit-buttons">
                    <a href="{{ url_for("community.community_form", id=community.id) }}"><span class="fa fa-edit"></span></a>
                    <a href="javascript: deleteCommunity({{ community.id }})"><span class="fa fa-trash-o"></span></a>
                </div>
                {% else %}
                    {% if not community.has_member(current_user) %}
                        <button class="community-join">Присоединиться</button>
                    {% else %}
                        <button class="community-leave">Покинуть</button>
                    {% endif %}
                {% endif %}
            </div>
            <div class="bottom-buttons">
            {% if community.type == community.TYPE.PRIVATE %}
                <div class="closed fa fa-lock" title="Закрытая группа"></div>
            {% endif %}
            </div>
        </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}