{% macro header(community) %}
<div class="row">
    <div class="col-md-8 col-md-offset-2 community-header">
        <div class="community frame">
            <div class="image" {% if community.image %} style="background-image: url('{{ community.image.get_url() }}')" {% endif %}></div>
            <div class="info">
                <div class="name">
                    {{ community.name or '' }}
                    {% if community.type == community.TYPE.PRIVATE %}
                        <span class="closed fa fa-lock" title="Закрытая группа"></span>
                    {% endif %}
                </div>
                <div class="description">{{ community.description or '' }}</div>
            </div>
            <a href="{{ url_for('community.post_form', community_id=community.id) }}" class="button new post-create">Новая новость</a>
        </div>
    </div>
</div>
{% endmacro %}