{% import "macros/user.html" as user %}
{% import "community/macros.html" as macros %}
{% extends "layout.html" %}
{% block content %}
<div class="community-page">
    {% if community.status != community.STATUS.ACTIVE %}
    <div class="message">Группа удалена</div>
    {% elif community.type == community.TYPE.PRIVATE and (community.owner != current_user and community.member_status_title(current_user) != 'accepted') %}
    <div class="message">Группа закрыта</div>
    {% else %}
    <div class="row">
        <div class="col-md-9"></div>
    </div>
    <div class="row">
        <div class="col-md-7 col-md-offset-2 news-list">
            {{ macros.header(community, current_user)}}
            {% for post in community.posts %}
            <article class="frame">
                {% if current_user == post.author %}
                <div class="edit-buttons">
                    <a href="{{ url_for('community.post_form', community_id=community.id, id=post.id) }}"><span class="fa fa-edit"></span></a>
                    <a href="javascript: post.delete({{ post.id }})"><span class="fa fa-trash-o"></span></a>
                </div>
                {% endif %}
                <h3 class="title"><a href="{{ url_for('community.post_page', community_id=community.id, id=post.id) }}">{{ post.title or '' }}</a></h3>
                <div class="text" onCLick="javascript: window.location.href='{{ url_for('community.post_page', community_id=community.id, id=post.id) }}'">{{ post.announcement|safe or '' }}</div>
                <div class="datetime">{{ post.datetime|datetime(old_time=False) or '' }}</div>
                <div class="footer">
                    <div class="author">
                        {{ user.icon(post.author) }}
                        <div class="comments-counter"
                             title="Комментарии"
                             data-count="{{ post.comments_count or 0}}"
                             data-entity="{{ post.entity.name }}"
                             data-entity-id="{{ post.entity.id }}">
                        </div>
                        <div class="likes-counter-component"
                             title="Понравилось"
                             data-count="{{ post.votes_count or 0}}"
                             data-entity="{{ post.entity.name }}"
                             data-entity-id="{{ post.entity.id }}"
                             data-my-vote="{{ post.my_vote.value }}">
                        </div>
                        <div class="views" title="Просмотры"><span class="fa fa-eye"></span>{{ post.views_count or 0 }}</div>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
        <div class="col-md-3 members-list">
            <div class="frame">
                <h3 class="title"> Участники </h3>
                {% if community.owner != current_user %}
                <div class="top-buttons community-subscription-component"
                     data-community-id="{{ community.id }}"
                     data-subscribed="{{ community.has_member(current_user) }}"
                     data-reload="True"
                     data-status="{{ community.member_status_title(current_user) or ''}}">
                </div>
                {% endif %}
                <div class="community-member-component"
                     data-community-id="{{ community.id }}"
                     data-community-owner-id="{{ community.owner.id }}"
                     data-member-id="{{ community.owner.id }}"
                     data-member-photo="{{ community.owner.photo }}"
                     data-member-name="{{ community.owner.full_name }}"
                     data-member-status="approved"
                     data-member-description="Администратор группы">
                </div>
                {% for cm in community.community_members|sort(attribute='status')|reverse %}
                {% if cm.status != cm.STATUS.DELETED %}
                <div class="member community-member-component"
                     data-community-id="{{ community.id }}"
                     data-community-owner-id="{{ community.owner.id }}"
                     data-member-id="{{ cm.user.id }}"
                     data-member-photo="{{ cm.user.photo }}"
                     data-member-name="{{ cm.user.full_name }}"
                     data-member-status="{{ cm.STATUS.TITLE[cm.status] }}">
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}