{% import "macros/user.html" as user %}
{% import "community/macros.html" as macros %}
{% extends "layout.html" %}
{% block content %}
{{ macros.header(post.community)}}
<div class="col-md-8 col-md-offset-2 news-one">
    <article class="frame">
        {% if current_user == post.author %}
        <div class="edit-buttons">
            <a href="{{ url_for('community.post_form', community_id=post.community.id, id=post.id) }}"><span class="fa fa-edit"></span></a>
            <a href="javascript: deleteCommunityPost({{ post.id }})"><span class="fa fa-trash-o"></span></a>
        </div>
        {% endif %}
        <h3 class="title">{{ post.title or '' }}</h3>
        <div class="text">{{ post.text|safe or '' }}</div>
        <div class="datetime">{{ post.datetime|datetime(old_time=False) or '' }}</div>
        <div class="footer">
            <div class="author">
                {{ user.icon(post.author) }}
                <div class="comments-counter" title="Комментарии" data-count="{{ post.comments_count or 0}}" data-entity="{{ post.entity.name }}" data-entity-id="{{ post.entity.id }}"></div>
                <div class="likes-counter-component" title="Понравилось" data-count="{{ post.votes_count or 0}}" data-entity="{{ post.entity.name }}" data-entity-id="{{ post.entity.id }}" data-my-vote="{{ post.my_vote.value }}"></div>
                <div class="views" title="Просмотры"><span class="fa fa-eye"></span>{{ post.views_count or 0 }}</div>
            </div>
        </div>
    </article>
    <div class="comments-component" data-entity="{{ post.entity.name }}" data-entity-id="{{ post.entity.id }}"></div>
</div>

{% endblock %}