{% extends "admin/layout.html" %}
{% import "admin/_macros.html" as macros %}

{% block title %}Users{% endblock %}
{% block content %}
{{ super() }}
<div class="container-fluid">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">News</div>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th>Tags</th>
                    <th>Manage</th>
                </tr>
            </thead>
            <tbody>
                {% for article in news %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td>{{ article.title }}</td>
                        <td>{{ article.author }}</td>
                        <td>{{ article.category }}</td>
                        <td>{{ article.tags }}</td>
                        <td>Edit Del</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, 'admin.news_index') }}
    </div>
    {% endif %}
</div>

{% endblock %}