{% extends "admin/layout.html" %}
{% block content %}

<script type="text/jsx">
React.render(
    <AJAXForm action="{{ url_for('.add_user_post') }}" method="post" enctype="multipart/form-data" onSuccess={wellDone} onDone={showErrors}>
        <div className="row">
          <div className="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <table className="table table-striped">
                <tbody>
                    <tr>
                        <td>Имя</td>
                        <td><Input className="form-control" type="text" name="name"  placeholder="Имя пользователя"/></td>
                    </tr>
                    <tr>
                        <td>Фамилия</td>
                        <td><Input className="form-control" type="text" name="surname"  placeholder="Фамилия пользователя"/></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><Input className="form-control on-change-email" type="text" name="email" placeholder="Email пользователя"/></td>
                    </tr>
                    <tr>
                        <td>Логин</td>
                        <td><Input className="form-control on-change-login" type="text" name="login" placeholder="Логин пользователя"/></td>
                    </tr>
                    <tr>
                        <td>Подразделение</td>
                        <td>
                            <Select className="form-control" type="text" name="department">
                            {% for department in departments %}
                                <option>{{ department }}</option>
                            {% endfor %}
                            </Select>
                        </td>
                    </tr>
                    <tr>
                        <td>Группы</td>
                        <td>
                            <Select className="form-control" type="text" name="groups" multiple>
                            {% for group in groups %}
                                <option>{{ group }}</option>
                            {% endfor %}
                            </Select>
                        </td>
                    </tr>
                    <tr>
                        <td>Номер телефона</td>
                        <td><Input className="form-control" type="text" name="mobile_phone" placeholder="Номер телефона пользователя"/></td>
                    </tr>
                    <tr>
                        <td><a href="{{ url_for('.admin_index') }}" className="btn btn-lg btn-danger btn-block">Отмена</a></td>
                        <td><Input className="btn btn-lg btn-primary btn-block" type="submit" defaultValue="Сохранить"/></td>
                    </tr>
                </tbody>
            </table>
          </div>
          <div className="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          </div>
        </div>
    </AJAXForm>,
    document.getElementById('add_user_form'))

function wellDone(){
    window.location.href = "{{ url_for('.admin_index') }}";
}

function onChangeEmail(event) {
    console.log(event.target.value);
    /*this.refs.error.setState({text: ''})
    if(typeof this.props.onChange == 'function')
        this.props.onChange(event)*/
}

function showErrors( data ) {
    if (data.status == 'failOnProcess') {
        console.log(data);
        Popup.show({
            content: data.error,
            closeButton: true,
            buttons: []
        });
    }
}

</script>
<script>
window.onload = function () {
    $(document).on("focus", ".datepicker", function(){
        $(this).datepicker();
    });

    function funcfilestyle() {
      $(":file").filestyle({buttonBefore: true});
    }
    setTimeout(funcfilestyle, 200);

    function on_change() {
    $( ".on-change-email" ).keyup(function() {
      $(".on-change-login").val(this.value.split('@')[0])
    });
    }
    setTimeout(on_change, 500);

};
</script>
<script>
$( function() {
    var customLogin = false;
    var loginElem = $( "[name='login']" );
    var emailElem = $( "[name='email']"  );

    loginElem.on( "keyup", function() {
        customLogin = true;
    });

    emailElem.on( "keyup", function() {
        if (!~emailElem.val().indexOf('@') && !customLogin) {
            loginElem.val(emailElem.val());
        }
    });
});
</script>

<div id="add_user_form"></div>
{% endblock %}
