{% extends "admin/layout.html" %}
{% import "admin/_macros.html" as macros %}

{% block title %}Users{% endblock %}
{% block content %}
{{ super() }}
<div class="container-fluid">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Users</div>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>ID </th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Login</th>
                    <th>Cell phone</th>
                    <th>Inner phone</th>
                    <th>Manage</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.full_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.login }}</td>
                        <td>{{ user.mobile_phone }}</td>
                        <td>{{ user.inner_phone }}</td>
                        <td>
                            <a href="{{ url_for('admin.edit_user_profile', id=user.id) }}"><span><i class="fa fa-lg fa-pencil"></i>Edit</span></a><br/>
                            <a href="{{ url_for('admin.delete_user_profile', id=user.id) }}"><span><i class="fa fa-lg fa-trash-o"></i></span>Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, 'admin.users_index') }}
    </div>
    {% endif %}
</div>

{% endblock %}