{% extends "admin/layout.html" %}

{% block title %}Index{% endblock %}
{% block nav %}
{% endblock %}
{% block content %}
{{ super() }}
<div class="container">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Users</div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Birth date</th>
                <th>Cell phone</th>
                <th>Inner phone</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.full_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.birth_date }}</td>
                    <td>{{ user.mobile_phone }}</td>
                    <td>{{ user.inner_phone }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

{% endblock %}