{% extends "layout.html" %}
{% block content %}
<script type="text/jsx">
React.render(
    <AJAXForm action="/user/new_pass" method="post" className="form-signin" onSuccess={wellDone}>
    	<Input className="ninja" type="hidden" name="token" value="{{token}}" />
        <Input className="form-control" type="password" name="password_1" placeholder="Пароль" />
        <Input className="form-control" type="password" name="password_2" placeholder="Повторить пароль" />
        <Input className="btn btn-lg btn-primary btn-block" type="submit" value="Сменить"/>
    </AJAXForm>,
    document.getElementById('new_pass_form'))

function wellDone(){
    window.location.href = "/message/Вы сменили пароль";
}
</script>

<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
        <h1 class="text-center login-title">New Password</h1>
        <div class="account-wall">
            <div id="new_pass_form"></div>
        </div>
    </div>
</div>
{% endblock %}