{% extends "layout.html" %}
{% import "macros/user.html" as user %}

{% block content %}
<div class="news-list">
    {% for n in news %}
    <article class="frame">
        {% if current_user == n.author %}
        <div class="edit-buttons">
            <a href="/news/edit/{{ n.id }}"><span class="fa fa-edit"></span></a>
            <a href="javascript: news.delete({{ n.id }})"><span class="fa fa-times"></span></a>
        </div>
        {% endif %}
        <h3 class="title"><a href="/news/{{ n.id }}">{{ n.title or '' }}</a></h3>
        <div class="text" onCLick="javascript: window.location.href='/news/{{ n.id }}'">{{ n.announcement|safe or '' }}</div>
        <div class="datetime">{{ n.datetime|datetime(old_time=False) or '' }}</div>
        <div class="footer">
            <div class="author">
                {{ user.icon(n.author) }}
                <div class="comments-counter" title="Комментарии" data-count="{{ n.comments_count or 0}}" data-entity="{{ n.entity.name }}" data-entity-id="{{ n.entity.id }}"></div>
                <div class="likes-counter-component" title="Понравилось" data-count="{{ n.votes_count or 0}}" data-entity="{{ n.entity.name }}" data-entity-id="{{ n.entity.id }}" data-my-vote="{{ n.my_vote.value }}"></div>
                <div class="views" title="Просмотры"><span class="fa fa-eye"></span>{{ n.views_count or 0 }}</div>
            </div>
            <div class="tags">
                {% for tag in n.tags %}
                <a href="#" class="tag"><span class="fa fa-tag"></span> {{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
    </article>
    {% endfor %}
</div>
{% endblock %}