{% extends "layout.html" %}
{% block content %}
<div class="col-md-8 col-md-offset-2 frame news-form">
    <h3 class='title'>{{ 'Редактировать новость' if news.id else 'Новая новость' }}</h3>
    <div id="news-form"></div>
    <script type="text/jsx">
    React.render(
        <AJAXForm action="/news/save" method="post" className="custom-form" onSuccess={function(json){ window.location.href = '/news/'+json.news.id;}}>
            <input type="hidden" name="id" value="{{ news.id or '' }}"/>
            <div className="field-label">Заголовок:</div>
            <Input type="text" name="title" defaultValue="{{ news.title or '' }}"/>

            <div className="field-label">Категория:</div>
            <select name="category_id" defaultValue="{{ news.category.id }}">
            {% for cat in (categories.get(None) or []) recursive%}
                <option value="{{ cat.id }}">{{ ('&nbsp;'*4*loop.depth0)|safe }}{{ cat.name }}</option>
                {{ loop(categories.get(cat.id) or []) }}
            {% endfor %}
            </select>
            <div className="field-label">Теги:</div>
            <TagField name="tag" tags={ {{ news.tags|map(attribute='name')|list|tojson|safe}} }/>

            <div className="field-label">Текст:</div>
            <div className="edit-wrapper"><TextArea name="text" className="editor" defaultValue="{{ news.text or '' }}" placeholder="Текст новости"></TextArea></div>
            <a className="button" href="javascript: window.history.back()">Отмена</a>
            <input type="submit" value="{{ 'Сохранить' if news.id else 'Создать' }}" />
        </AJAXForm>,
        document.getElementById('news-form'))
    </script>
</div>
{% endblock %}