{% import "macros/user.html" as user %}
{% extends "index.html" %}
{% block index_content %}
<div class="news-one">
    <article class="frame">
        {% if current_user == news.author %}
        <div class="edit-buttons">
            <a href="/news/edit/{{ news.id }}"><span class="fa fa-edit"></span></a>
            <a href="javascript: news.delete({{ news.id }})"><span class="fa fa-trash-o"></span></a>
        </div>
        {% endif %}
        <h3 class="title">{{ news.title or '' }}</h3>
        <div class="text">{{ news.text|safe or '' }}</div>
        <div class="datetime">{{ news.datetime|datetime(old_time=False) or '' }}</div>
        <div class="footer">
            <div class="author">
                {{ user.icon(news.author) }}
                <div class="comments-counter" title="Комментарии" data-count="{{ news.comments_count or 0}}" data-entity="{{ news.entity.name }}" data-entity-id="{{ news.entity.id }}"></div>
                <div class="likes-counter-component" title="Понравилось" data-count="{{ news.votes_count or 0}}" data-entity="{{ news.entity.name }}" data-entity-id="{{ news.entity.id }}" data-my-vote="{{ news.my_vote.value }}"></div>
                <div class="views" title="Просмотры"><span class="fa fa-eye"></span>{{ news.views_count or 0 }}</div>
            </div>
            {% if news.category %}
            <div class="category">
                Категория:
                <a href="{{ url_for('news.list_all_by_category', id=news.category_id) }}">{{ news.category.name}}</a>
            </div>
            {% endif %}
            <div class="tags">
                {% for tag in news.tags %}
                <a href="{{ url_for('news.list_all_by_tag', id=tag.id) }}" class="tag"><span class="fa fa-tag"></span> {{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
    </article>
    <div class="comments-component" data-entity="{{ news.entity.name }}" data-entity-id="{{ news.entity.id }}"></div>
</div>

{% endblock %}