{% import "macros/comments.html" as comments %}
{% import "macros/user.html" as user %}
{% extends "layout.html" %}
{% block content %}
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<div class="news-one">
    <article class="frame">
        {% if current_user == news.author %}
        <div class="edit-buttons">
            <a href="/news/edit/{{ news.id }}"><span class="fa fa-edit"></span></a>
            <a href="javascript: news.delete({{ news.id }})"><span class="fa fa-trash-o"></span></a>
        </div>
        {% endif %}
        <h3 class="title">{{ news.title or '' }}</h3>
        <div class="text">{{ news.text|safe or '' }}</div>
        <div class="datetime">{{ news.datetime|datetime(time=False) or '' }}</div>
        <div class="footer">
            <div class="author">
                {{ user.icon(news.author) }}
                <div class="comments-counter" title="Комментарии" data-count="{{ news.comments_count or 0}}" data-entity="{{ news.entity.name }}" data-entity-id="{{ news.entity.id }}"></div>
                <div class="likes-counter-component" title="Понравилось" data-count="{{ news.votes_count or 0}}" data-entity="{{ news.entity.name }}" data-entity-id="{{ news.entity.id }}" data-my-vote="{{ news.my_vote.value }}"></div>
                <div class="views" title="Просмотры"><span class="fa fa-eye"></span>{{ news.views_count or 0 }}</div>
            </div>
        </div>
    </article>
    <div id="comments"></div>
    <script type="text/jsx">
        React.render(
            <Comments entity="{{ news.entity.name }}" entity_id="{{ news.entity.id }}" />,
            document.getElementById('comments'))
    </script>
</div>
</div>
</div>

{% endblock %}