{% extends "layout_root.html" %}
{% block content %}
<script type="text/jsx">
React.render(
    <AJAXForm action="{{ url_for('password.new_pass') }}" method="post" className="form-signin" onSuccess={wellDone}>
    	<Input className="ninja" type="hidden" name="token" value="{{token}}" />
        <Input className="form-control new-password-1" type="password" name="password_1" placeholder="Пароль" />
        <Input className="form-control new-password-2" type="password" name="password_2" placeholder="Повторить пароль" />
        <Input className="btn btn-lg btn-primary btn-block" type="submit" value="Сменить"/>
    </AJAXForm>,
    document.getElementById('new_pass_form'))

function wellDone(){
    window.location.href = "{{ url_for('login.login') }}";
}
</script>

<div class="row">
    <div class="col-sm-4 col-md-4 col-sm-offset-4">
        <h1 class="text-center login-title">Новий пароль</h1>
        <div class="account-wall">
            <div id="new_pass_form"></div>
        </div>
    </div>
</div>
{% endblock %}