{% extends "layout_root.html" %}
{% block content %}
<script type="text/jsx">
React.render(
    <AJAXForm action="{{ url_for('password.restore') }}" method="post" className="form-signin" onSuccess={function(){window.location.href = "{{ url_for('login.login') }}";}}>
        <Input className="form-control email-restore" type="text" name="email" placeholder="Email" onChange={someChange}/>
        <Input className="btn btn-lg btn-primary btn-block" type="submit" value="Восстановить"/>
    </AJAXForm>,
    document.getElementById('restore_form'))
</script>
<div class="row">
    <div class="col-sm-4 col-md-4 col-sm-offset-4">
        <h1 class="text-center login-title">Восстановление пароля</h1>
        <div class="account-wall">
            <div id="restore_form"></div>
        </div>
    </div>
</div>
{% endblock %}