{% extends "layout.html" %}
{% block content %}
<script type="text/jsx">
React.render(
    <AJAXForm action="{{ url_for('user.edit_pass') }}" method="post" className="form-signin" onSuccess={wellDone}>
        <Input name="password_old" className="form-control edit-password-old" type="password" placeholder="Старый пароль"/>
        <div className="form-pass">
            <Input name="password_1" className="form-control edit-password-1" type="password" placeholder="Новый пароль"/>
        </div>
        <div className="form-pass form-pass2">
            <Input name="password_2" className="form-control edit-password-2" type="password" placeholder="Повторить новый пароль"/>
        </div>
        <Input className="btn btn-lg btn-primary btn-block" type="submit" value="Сменить"/>
    </AJAXForm>,
    document.getElementById('edit_pass_form'))

function wellDone(){
    window.location.href = "{{ url_for('user.profile') }}";
}
</script>
<div class="row">
    <div class="col-sm-6 col-md-6 col-sm-offset-3">
        <h1 class="text-center login-title">Смена пароля</h1>
        <div class="account-wall">
            <div id="edit_pass_form"></div>
        </div>
    </div>
</div>
{% endblock %}