{% extends "layout.html" %}
{% block content %}

<script type="text/jsx">
React.render(
    <AJAXForm action="{{ url_for('user.edit_profile') }}" method="post" enctype="multipart/form-data" onSuccess={wellDone} >
        <div className="row">
          <div className="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <table className="table table-striped">
                <tbody>
                    <tr>
                        <td>Full name</td>
                        <td><Input className="form-control" type="text" name="full_name" defaultValue="{% if current_user.full_name %}{{ current_user.full_name }}{% else %}{% endif %}" placeholder="Имя и фамилия"/></td>
                    </tr>
                    <tr>
                        <td>Avatar</td>
                        <td><Input className="file-inputs form-control filestyle" type="file" name="file" title="Search for a file to add" data-buttonBefore="true" /></td>
                    </tr>
                    <tr>
                        <td>Office Phone</td>
                        <td><Input className="form-control" type="text" name="inner_phone" defaultValue="{% if current_user.inner_phone %}{{ current_user.inner_phone }}{% else %}{% endif %}" placeholder="????"/></td>
                    </tr>
                    <tr>
                        <td>Birth date</td>
                        <td><Input className="form-control datepicker" type="text" name="birth_date" defaultValue="{% if current_user.birth_date %}{{ current_user.birth_date.strftime('%d.%m.%Y') }}{% else %}{% endif %}" placeholder="??.??.????"/></td>
                    </tr>
                    <tr>
                        <td>Cell Phone</td>
                        <td><Input className="form-control" type="text" name="mobile_phone" defaultValue="{% if current_user.mobile_phone %}{{ current_user.mobile_phone }}{% else %}{% endif %}" placeholder="???-??-??-???"/></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><Input className="form-control" type="text" name="email" defaultValue="{% if current_user.email %}{{ current_user.email }}{% else %}{% endif %}" placeholder="mail@mail"/></td>
                    </tr>
                    <tr>
                        <td>Skype</td>
                        <td><Input className="form-control" type="text" name="skype" defaultValue="{% if current_user.skype %}{{ current_user.skype }}{% else %}{% endif %}" placeholder="skype"/></td>
                    </tr>
                    <tr>
                        <td><a href="/message/ну ты и лошара" className="btn btn-lg btn-danger btn-block">Отмена</a></td>
                        <td><Input className="btn btn-lg btn-primary btn-block" type="submit" defaultValue="Сохранить"/></td>
                    </tr>
                </tbody>
            </table>
          </div>
          <div className="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          </div>
        </div>
    </AJAXForm>,
    document.getElementById('edit_profile_form'))

function wellDone(){
    window.location.href = "{{ url_for('user.profile') }}";
}
</script>
<script>
window.onload = function () {
    $(document).on("focus", ".datepicker", function(){
        $(this).datepicker();  
    });
    
    function funcfilestyle() {
      $(":file").filestyle({buttonBefore: true});
    }
    setTimeout(funcfilestyle, 200);
};
</script>

<div id="edit_profile_form"></div>
{% endblock %}
