{% extends "layout.html" %}
{% block content %}

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

    <h2>Денис Горовой</h2>
    <p>CTO Prom.ua</p>            
    <p>
      <img src="/static/img/Denis.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
    </p>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Maneger</td>
                <td><span class="glyphicon glyphicon-user"></span> John</td>
            </tr>
            <tr>
                <td>Office Phone</td>
                <td><span class="glyphicon glyphicon-home"></span> 333-444-555</td>
            </tr>
            <tr>
                <td>Cell Phone</td>
                <td><span class="glyphicon glyphicon-headphones"></span> 050-00-99-777</td>
            </tr>
            <tr>
                <td>Email</td>
                <td><span class="glyphicon glyphicon-envelope"></span> mail@mail</td>
            </tr>
            <tr>
                <td>Twitter</td>
                <td><span class="glyphicon glyphicon-link"></span> my_twitter</td>
            </tr>
        </tbody>
    </table>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">right colom</div>
</div>


{% endblock %}
