{% extends "layout.html" %}
{% block content %}
<div class="col-md-8 col-md-offset-2 frame profile">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="header">
            <h3 class="title">{{ user.full_name or '' }}</h3>
            {% if user.id == current_user.id %}
            <div class="edit-buttons edit-buttons-in-profile">
            <a href="{{ url_for('user.edit_profile') }}"><span class="glyphicon glyphicon-pencil"></span> Редактировать </a> &nbsp;
            <a href="{{ url_for('user.edit_pass') }}"><span><i class="fa fa-lg fa-key"></i></span> Изменить пароль</a>
            </div>
            {% endif %}
        </div>
      </div>
    </div>

    <div class="row content">
      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
        <p>
          <img src="{{ user.photo.get_url() if user and user.photo else '/static/img/no_photo.jpg' }}" class="img-thumbnail" alt="Фото {{ user.full_name }}">
        </p>

      </div>
      <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <table class="table table-striped">
            <tbody>
                {% if head_user %}
                    <tr>
                        <td>Кому подчиняется</td>
                        <td><span class="fa fa-star-o"></span> {{ head_user.full_name }}</td>
                    </tr>
                {% endif %}
                {% if user_department.name %}
                    <tr>
                        <td>Кем руководит</td>
                        <td><span class="fa fa-street-view"></span> {{ user_department.name }} ({{ count_users }})</td>
                    </tr>
                {% endif %}
                {% if user.position %}
                    <tr>
                        <td>Должность</td>
                        <td><span class="fa fa-users"></span> {{ user.position }}</td>
                    </tr>
                {% endif %}
                {% if user.department %}
                    <tr>
                        <td>Подразделение</td>
                        <td><span class="fa fa-sitemap"></span> {{ user.department.name }}</td>
                    </tr>
                {% endif %}
                {% if user.inner_phone %}
                    <tr>
                        <td>Внутренний номер</td>
                        <td><span class="fa fa-phone"></span> {{ user.inner_phone }}</td>
                    </tr>
                {% endif %}
                {% if user.birth_date %}
                    <tr>
                        <td>Дата рождения</td>
                        <td><span class="fa fa-birthday-cake"></span> {{ user.birth_date.strftime('%d.%m.%Y') }} (Age: {{ user.age }})</td>
                    </tr>
                {% endif %}
                {% if user.mobile_phone %}
                    <tr>
                        <td>Номер мобильного телефона</td>
                        <td><span class="fa fa-mobile" style="font-size: 18px;margin-top: -2px;"></span> {{ user.mobile_phone }}</td>
                    </tr>
                {% endif %}
                {% if user.email %}
                    <tr>
                        <td>Email</td>
                        <td><span class="glyphicon glyphicon-envelope"></span> {{ user.email }}</td>
                    </tr>
                {% endif %}
                {% if user.skype %}
                    <tr>
                        <td>Skype</td>
                        <td><span class="fa fa-skype" style="font-size: 15px;"></span> {{ user.skype }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
      </div>
    </div>

    <div class="row content activity">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h2>Новости ({{ user.news|length }}):</h2>
            <div id="news" class="list-group"></div>
            <button id="moreNews" style="display: none" type="button" class="btn btn-default">Больше</button>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h2>Коментарии ({{ user.comments|length }}):</h2>
            <div id="comments" class="list-group"></div>
            <button id="moreComments" style="display: none" type="button" class="btn btn-default">Больше</button>
        </div>
    </div>
</div>

<script>
function renderNews ( obj ) {
    var newA = $( '<a class="list-group-item"></a>' );
    var newSpan = $( '<span class="badge"></span>' );

    newSpan.append( niceDateFormat(obj.created_date) );

    newA.attr( 'href', "{{ url_for('news.news_one', id=-1) }}".replace( '-1', obj.news_id ) );
    newA.append( obj.news_title );
    newA.append( newSpan );

    return newA;
}

function renderComments ( obj ) {
    var newA = $( '<a class="list-group-item"></a>' );
    var newSpan = $( '<span class="badge"></span>' );
    var newStrong = $( '<strong></strong>' );

    newSpan.append( niceDateFormat(obj.last_modified_date) );
    newStrong.append( ' (' + obj.comments_amount + ') ' );

    newA.attr( 'href', "{{ url_for('news.news_one', id=-1) }}".replace( '-1', obj.news_id ) );
    newA.append( newStrong );
    newA.append( obj.news_title );
    newA.append( newSpan );

    return newA;
}

$(document).ready( function () {
    var newsPaginator = new LazyPaginator({
        url: "{{ url_for('api_v1.get_user_news', id=user.id) }}",
        targetElem: $( "#news" ),
        buttonMore: $( "#moreNews" ),
        render: renderNews
    });

    var commentsPaginator = new LazyPaginator({
        url: "{{ url_for('api_v1.get_user_comments_in_news', id=user.id) }}",
        targetElem: $( "#comments" ),
        buttonMore: $( "#moreComments" ),
        render: renderComments
    });

    newsPaginator.init();
    commentsPaginator.init();

    newsPaginator.get();
    commentsPaginator.get();
});
</script>

{% endblock %}

